.arrow {
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  z-index: 10;
  color: #000;
  top: 50%;
  transform: translateY(-50%);

  &__prev {
    left: 2rem;
  }

  &__next {
    right: 2rem;
  }
}
