.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
    width: 100vw;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
